<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="laravel/cli/tasks/test/phpunit.php"
    verbose="true">
    <!-- Laravelの実行環境をテスト用にセット -->
    <php>
        <env name="LARAVEL_ENV" value="test" />
    </php>
    <testsuites>
        <testsuite name="Sample test suite">
            <!-- テストケースファイルのサフィックスを指定 -->
            <!-- ディレクトリーを指定すれば、その以下のサブフォルダー内のファイルも実行される -->
            <directory suffix="Test.php">application/tests</directory>
        </testsuite>
    </testsuites>
    <!-- このログ出力はJenkinsで結果を表示する場合に使用 -->
    <logging>
        <!-- Cloverカバーレッジレポートを使用する場合、次の２つのログが必要 -->
        <log type="coverage-html" target="build/coverage" title="Base32"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <!-- JUnitテスト結果を表示する場合、このログが必要 -->
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
    <!-- カバーレージのターゲット指定。テストだけなら使用しない。 -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">application/models</directory>
            <directory suffix=".php">application/controllers</directory>
            <!-- 対象外ファイル、blacklistで指定することも可能 -->
            <exclude>
                <file>application/controllers/base.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
